.search-products{
    width: 100% !important;
}
.non-stock {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
.blanco{
    color: white;
}
.non-stock i {
    font-size: 16px;
    margin-right: 5px;
    color: red;
}
.button-buy{
    background: #e62e04 none repeat scroll 0 0;
    border-color: #e62e04;
    color: #fff;
    height: 43px;
    margin-bottom: 0;
    margin-right: 10px;
    width: 150px;
    border: none;
}
.boton-envio {
    background: #333333;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border-radius: 0px;
    border: 1px solid #333333;
@include transition;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
    white-space: normal !important;
}

.boton-envio:hover {
    background: transparent;
    color: #333333;
}

@media screen and (max-width: 900px) {
    .hidden-xs {
        display: none;
    }
}
@media screen and (min-width: 900px){
    .visible-xs{
        display: none;
    }
}

.hidden {
    display: none
}

.card-headerNew{
    padding: 10px !important;
}
.boton{
    padding:5px;
    font-size:13px;
}
.boton-mobile{
    padding:5px;
    font-size:13px;
    width: 100%;
    text-align: center;
}
.metodos{
    padding: 6px;
}
.fondo{
    background-color: #eeee;
}
.derecha{
    text-align: right;
}
.fondo-nav{
    background: #F2F2F2;
}
.borde{
    border: 1px solid #ededed;
    border-radius: 3px;
}
.font-select{
    font-size: 13px !important;
}
.centro{
    text-align: center !important;
}
.nav-upper{
    text-transform: uppercase !important;
}
.texto-nav{
    font-size: 14px !important;
}